*
{
    margin: 0;
    padding: 0;
}

body{
    background: url(study.jpg) no-repeat;
    position: center;
}

.main-nav
{
    Float: center;
    list-style: none;
    margin-top: 40px;
    }

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;  
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a  
{
    border: 2px solid white;
}

.main-nav li a:hover
{
    border: 2px solid white;
}

.texthomepage
{
    top: 400px;
    right: 150px;
    bottom: 20px
}

.move-hz
{
    position: absolute;
    top: 0px;
    right: 0px;
}