*
{
    margin: 0;
    padding: 0;
}

#left{
    float: left;
    width: 50%;
}

#right{
    float: right;
    width: 50%;
}

body{
    background: url(study.jpg) no-repeat;
    position: center;
}

.main-nav
{
    Float: center;
    list-style: none;
    margin-top: 40px;
    }

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;  
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a  
{
    border: 2px solid white;
}

.main-nav li a:hover
{
    border: 2px solid white;
}

.texthomepage
{
    top: 400px;
    right: 150px;
    bottom: 20px
}

.move-hz
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.textcolorindex li {
    color: white;
    right: 100 px;
    top: 100 px;
}

h1{
    background-color: rgba(45,45,45,0.1);
    right: 100px;
    top: 250px;
    left: 150px;
    height: 50px;
}

section{
    background-color: white;
    right: 100 px;
    top: 600 px;
    margin: 20px;
    margin-right: 40;
    margin-top: 450;
}

.line{
    color: white;
    top: 300px;
}