*
{
    margin: 0;
    padding: 0;
}

#left{
    float: left;
    width: 50%;
}

#right{
    float: right;
    width: 50%;
}

body{
    background: url(study.jpg) no-repeat;
    font-family: sans-serif;
}

.main-nav
{
    Float: center;
    list-style: none;
    margin-top: 40px;
    margin-left: 120px;
    }

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;  
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a  
{
    border: 2px solid white;
}

.main-nav li a:hover
{
    border: 2px solid white;
}

.texthomepage
{
    top: 400px;
    right: 150px;
    bottom: 20px;
    left: 40px;
}

.move-hz
{
    position: absolute;
    top: 0px;
    right: 0px;
}

h2{
    color: rgb(78, 18, 18);
    right: 100px;
    top: 100px;
    background-color: white;
    padding: 40px;
    margin: 0px 0px 80px 0px;
    border-radius: 40px;
    font-size: 18px;
}

h1{
    background-color: rgb(72, 122, 216);
    color: white;
    border-radius: 40px;
    padding: 20px;
    margin-top: 50px;
    padding-left: 50px;
}

.firstblock{
    background-color: white;
    margin: 140px 140px 0px 140px;
    margin-right: 825px;
    margin-top: 55px;
    border-radius: 40px;
    line-height: 16px;
}

.opmaak1{
    background-color: white;
    margin-right: 825px;
    margin-left: 150px;
    font-size: 24px;
    border-radius: 40px;
    padding: 50px 50px 0px 50px;
}

h3{
    background-color: green;
    color: white;
    border-radius: 40px;
    padding: 20px;
    margin-top: -50px;
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
}

p1{
    background-color: white;
    color: black;
    font-size: 18px;
}

h4{
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 2px;
    background-color: white;
    font-size: 14px;
    margin-left: 50px;
  }

  th {
    text-align: left;
    background-color: grey;
  }

  th, td {
    padding: 10px;
  }

  td{
    text-align: left;
  }

  .tabelskin{
    margin-right: 800px;
    margin-left: 100px;
    margin-top: 100px;
  }

  h4 {
    background-color: red;
    color: white;
    border-radius: 40px;
    padding: 20px;
    font-size: 26px;
    padding-left: 60px;
    margin-left: -60px;
    margin-right: -20px;
}

.redheadertext{
    color: black;
    font-size: 18px;
    margin-left: -25px; 
    padding-left: 25px;
    padding-top: -200px;
    line-height: 30px;

}

.homewhite{
    background-color: white;
    margin-left: 150px;
    margin-right: 825px;
    border-radius: 40px;
    padding-left: 60px;
    padding-right: 20px;
    margin-top: 80px;
}

.linkspace{
    line-height: 60px;
}

.opmaakpd{
    background-color: white;
    margin-right: 25px;
    margin-left: 1250px;
    font-size: 24px;
    border-radius: 40px;
    padding: 50px;
    position: absolute;
    top: 200px;
    right: 10px;
}

.h1pd{
    margin-left: 45px;
    margin-right: 140px;
    padding-right: 140px;
    font-size: 28px;
    padding: 20px;
    margin-left: 40px;
}